 <!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '180x180', crop: 'center' }}" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180', crop: 'center'  }}">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ settings.favicon | img_url: '180x180', crop: 'center'  }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | img_url: '32x32', crop: 'center'  }}">
    <link rel="icon" type="image/png" sizes="194x194" href="{{ settings.favicon | img_url: '194x194', crop: 'center'  }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ settings.favicon | img_url: '192x192', crop: 'center'  }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon | img_url: '16x16', crop: 'center'  }}">
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% render 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}"/>
  {% if template contains 'product' %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  {% else %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endif %}
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'vendors.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if template == 'page.contact' %}contact-page {% endif %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% unless settings.animations_enabled %} animations-disabled{% endunless %}{% if settings.page_fade_enabled %} page-fade{% endif %}{% if settings.color_body_bg == settings.header-bg-color %} white--match{% endif %}" >
  <script>
    var classList = document.documentElement.classList;
    classList.add('supports-js')
    classList.add('js');
    classList.remove('no-js');
    {% comment %}It's supported well enough, we won't detect it{% endcomment %}
  </script>

  {% comment %}
  Cart Drawer, also used by 'Quick View', 'LogIn', and 'Search'
  {% endcomment %}
  {% render 'right-drawer' %}

  <div id="DrawerOverlay" class="drawer-overlay"></div>

  <div id="PageContainer">
    {% section 'announcement-bar' %}

    {% section 'header' %}

    {% unless template == 'collection' or template == 'list-collections' or template contains 'contact' %}
      {% if settings.enable_breadcrumbs %}
        {% render 'breadcrumb' %}
      {% endif %}
    {% endunless%}

    {% if template == 'index' %}
      <div class="flow-homepage">
    {% else %}
     {% unless template == 'collection' or template contains 'contact' or template == 'list-collections' %}<div class="wrapper main-content page-main--wrapper">{% endunless %}
    {% endif %}

    {{ content_for_layout }}
   </div>

    {% section 'footer--newsletter' %}
    {% section 'footer' %}
  </div>

  <script type="text/javascript">
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.rias = window.lazySizesConfig.rias || {};

    // configure available widths to replace with the {width} placeholder
    window.lazySizesConfig.rias.widths = [150, 300, 600, 900, 1200, 1500, 1800, 2100];

    document.addEventListener('lazyriasmodifyoptions', function (e) {
      // convert width to width specification for shopify
      var widthmap = {}
      var aspect = parseFloat(e.target.dataset.aspectratio); // classList.contains('lazyload-square');
      var forceHeight = parseInt(e.target.dataset.forceHeight, 10);
      window.lazySizesConfig.rias.widths.forEach(function (width) {
        if (forceHeight) {
          var heightForWidth = width / aspect;
          var newWidth, newHeight;
          if (heightForWidth < forceHeight) {
            newWidth = forceHeight / heightForWidth * width;
          } else {
            newWidth = width;
          }
          newHeight = newWidth / aspect;
          widthmap[width] = newWidth.toFixed(0) + 'x' + newHeight.toFixed(0)
        } else {
          widthmap[width] = width.toString() + 'x';
        }
      });
      e.detail.widthmap = widthmap;
    });
  </script>

  <script type="module" src="{{ 'theme.js' | asset_url }}"></script>
  <script nomodule src="{{ 'theme.legacy.js' | asset_url }}"></script>

  {% render 'popup' %}

  <script type="application/json" id="wetheme-global">
    {
      {% comment %}Translations that will be used in javascript section handling{% endcomment %}
      "translations": {
        "addToCart": {{ 'products.product.add_to_cart' | t | json }},
        "added": {{ 'products.product.added' | t | json }},
        "soldOut": {{ 'products.product.sold_out' | t | json }},
        "unavailable": {{ 'products.product.unavailable' | t | json }},
        "no_results_html": {{ 'general.search.no_results_html' | t | json }},
        "results_for_html": {{ 'general.search.results_for_html' | t | json }},
        "products": {{ 'general.search.products' | t | json }},
        "pages": {{ 'general.search.pages' | t | json }},
        "articles": {{ 'general.search.articles' | t | json }},
        "quick_shop": {{ 'products.product.quick_shop' | t | json }},
        "read_more_html": {{ 'products.product.read_more_html' | t | json }},
        "read_less_html": {{ 'products.product.read_less_html' | t | json }},
        "youve_viewed": {{ 'collections.paginate.youve_viewed' | t | json }},
        "load_more": {{ 'collections.paginate.load_more' | t | json }}
      },
      "moneyFormat": {{ shop.money_format | json }}
    }
  </script>
</body>
</html>


{% render 'afterpay' %}