<!-- /sections/page-template.liquid -->
{% case section.settings.page_width %}
{% when 'full-width' %}
{%- assign page_width = 'large--one whole' -%}
{% when 'narrow' %}
{%- assign page_width = 'large--two-thirds push--large--one-sixth' -%}
{% endcase %}

<div class="grid clearfix">
  <div class="grid__item {{ page_width }}">

    <div class="sitewide--title-wrapper">

      <h1 class="page--title">{{ page.title }}</h1>

      <center>{{ section.settings.rich-text }}</center>


      <center>{{ section.settings.rich-text-chart }}</center>
<div class="primary-size-div">
      <table>
        <tr>
          <th>Size</th>
          <th>US</th>
          <th>Chest</th>
          <th>Underband</th>
          <th>Waist</th>
          <th>Hips</th>
        </tr>
        <tr>
          <td>{{ section.settings.row1col1 }}</td>
          <td>{{ section.settings.row1col2 }}</td>
          <td>{{ section.settings.row1col3 }}</td>
          <td>{{ section.settings.underband1 }}</td>
          <td>{{ section.settings.row1col4 }}</td>
          <td>{{ section.settings.row1col5 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.row2col1 }}</td>
          <td>{{ section.settings.row2col2 }}</td>
          <td>{{ section.settings.row2col3 }}</td>
          <td>{{ section.settings.underband2 }}</td>
          <td>{{ section.settings.row2col4 }}</td>
          <td>{{ section.settings.row2col5 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.row3col1 }}</td>
          <td>{{ section.settings.row3col2 }}</td>
          <td>{{ section.settings.row3col3 }}</td>
          <td>{{ section.settings.underband3 }}</td>
          <td>{{ section.settings.row3col4 }}</td>
          <td>{{ section.settings.row3col5 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.row4col1 }}</td>
          <td>{{ section.settings.row4col2 }}</td>
          <td>{{ section.settings.row4col3 }}</td>
          <td>{{ section.settings.underband4 }}</td>
          <td>{{ section.settings.row4col4 }}</td>
          <td>{{ section.settings.row4col5 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.row5col1 }}</td>
          <td>{{ section.settings.row5col2 }}</td>
          <td>{{ section.settings.row5col3 }}</td>
          <td>{{ section.settings.underband5 }}</td>
          <td>{{ section.settings.row5col4 }}</td>
          <td>{{ section.settings.row5col5 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.row6col1 }}</td>
          <td>{{ section.settings.row6col2 }}</td>
          <td>{{ section.settings.row6col3 }}</td>
          <td>{{ section.settings.underband6 }}</td>
          <td>{{ section.settings.row6col4 }}</td>
          <td>{{ section.settings.row6col5 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.row7col1 }}</td>
          <td>{{ section.settings.row7col2 }}</td>
          <td>{{ section.settings.row7col3 }}</td>
          <td>{{ section.settings.underband7 }}</td>
          <td>{{ section.settings.row7col4 }}</td>
          <td>{{ section.settings.row7col5 }}</td>
        </tr>
      </table>
      </div>
     
      
      <!-- Begin the Crew Neck Section -->
      <div class="biker-size-div">
      <h2 style="text-align:center;">{{ section.settings.crew-title}}</h2>
      
      <table>
        <tr>
          <th>Size</th>
          <th>Chest</th>
          <th>Waist</th>
        </tr>
        <tr>
          <td>{{ section.settings.crew-row1col1 }}</td>
          <td>{{ section.settings.crew-row1col2 }}</td>
          <td>{{ section.settings.crew-row1col3 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.crew-row2col1 }}</td>
          <td>{{ section.settings.crew-row2col2 }}</td>
          <td>{{ section.settings.crew-row2col3 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.crew-row3col1 }}</td>
          <td>{{ section.settings.crew-row3col2 }}</td>
          <td>{{ section.settings.crew-row3col3 }}</td>
        </tr>
        
      </table>
    
        <center><p style="margin-top:15px;">{{ section.settings.crew-subtext }}</p></center>

      <!-- End the Crew Neck Section -->
        
        
         <!-- Testing new layout -->
      <div class="biker-size-div">
      <h2 style="text-align:center;">Biker Shorts</h2>
      
      <table>
        <tr>
          <th>Size</th>
          <th>Waist</th>
          <th>Hips</th>
        </tr>
        <tr>
          <td>{{ section.settings.biker-row1col1 }}</td>
          <td>{{ section.settings.biker-row1col2 }}</td>
          <td>{{ section.settings.biker-row1col3 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.biker-row2col1 }}</td>
          <td>{{ section.settings.biker-row2col2 }}</td>
          <td>{{ section.settings.biker-row2col3 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.biker-row3col1 }}</td>
          <td>{{ section.settings.biker-row3col2 }}</td>
          <td>{{ section.settings.biker-row3col3 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.biker-row4col1 }}</td>
          <td>{{ section.settings.biker-row4col2 }}</td>
          <td>{{ section.settings.biker-row4col3 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.biker-row5col1 }}</td>
          <td>{{ section.settings.biker-row5col2 }}</td>
          <td>{{ section.settings.biker-row5col3 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.biker-row6col1 }}</td>
          <td>{{ section.settings.biker-row6col2 }}</td>
          <td>{{ section.settings.biker-row6col3 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.biker-row7col1 }}</td>
          <td>{{ section.settings.biker-row7col2 }}</td>
          <td>{{ section.settings.biker-row7col3 }}</td>
        </tr>
        <tr>
          <td>{{ section.settings.biker-row8col1 }}</td>
          <td>{{ section.settings.biker-row8col2 }}</td>
          <td>{{ section.settings.biker-row8col3 }}</td>
        </tr>
      </table>
      </div>
      <!-- End new testing -->
      


    </div>

    <div class="grid">
      <div class="rte grid__item{% if section.settings.show_sidebar %} large--two-thirds{% endif %}">
        {{ page.content }}
      </div>

      {% if section.settings.show_sidebar %}

      <div class="page-sidebar grid__item large--one-third">
        {% if section.blocks.size == 0 %}

        <div class="placeholder-noblocks">
          {{ 'general.onboarding.no_content' | t }}
        </div>

        {% else %}

        {% for block in section.blocks %}
        {% case block.type %}

        {% when 'text' %}
        <div class="sidebar-section">
          <h4>{{ block.settings.title }}</h4>
        </div>

        {% when 'richtext' %}
        <div class="sidebar-section sidebar-text">
          {{ block.settings.text }}
        </div>

        {% when 'menu' %}
        {% assign menu = linklists[block.settings.menu] %}
        <div class="sidebar-section">
          {% for link in menu.links %}
          {% if link.links != blank %}
          <li>
            <a href="{{ link.url }}" class="sidebar-menu--has-dropdown-title">{{ link.title }}</a>
            <ul class="sidebar-menu--level-2">
              {% for sub_link in link.links %}
              <li>- <a href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a></li>
              <ul class="sidebar-menu--level-3">
                {% for sub_sub_link in sub_link.links %}
                <li>- <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title | escape }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endif %}
          {% endfor %}

        </div>

        {% when 'image_picker' %}
        <div class="sidebar-section sidebar-image">
          {% if block.settings.image_link != blank %}
          <a href="{{ block.settings.image_link }}">
            {% endif %}

            {% if block.settings.sidebar_image == blank %}
            {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
            {% else %}
            {% render 'responsive-image' with block.settings.sidebar_image %}
            {% endif %}

            {% if block.settings.image_title != blank %}
            <h4>{{ block.settings.image_title }}</h4>
            {% endif %}

            {% if block.settings.image_link != blank %}
          </a>
          {% endif %}
        </div>

        {% endcase %}
        {% endfor %}
        {% endif %}

      </div>
      {% endif %}
    </div>

  </div>
</div>

{% schema %}
{
"name": {
"en": "Size Guide",
"de": "Seite",
"es": "Página",
"fr": "Page",
"pt-PT": "Página"
},
"settings": [
{
"type": "select",
"id": "page_width",
"label": {
"en": "Width",
"de": "Breite",
"es": "Ancho",
"fr": "Largeur",
"pt-PT": "Largura"
},
"options": [
{
"value": "full-width",
"label": {
"en": "Full width",
"de": "Volle Breite",
"es": "Ancho completo",
"fr": "Pleine largeur",
"pt-PT": "Largura total"
}
},
{
"value": "narrow",
"label": {
"en": "Narrow",
"de": "Eng",
"es": "Estrecho",
"fr": "Restreindre",
"pt-PT": "Reduzido"
}
}
],
"default": "full-width"
},
{
"type": "header",
"content": {
"en": "Sidebar",
"de": "Seitenleiste",
"es": "Barra lateral",
"fr": "Barre latérale",
"pt-PT": "Barra lateral"
}
},
{
"type": "checkbox",
"id": "show_sidebar",
"label": {
"en": "Enable",
"de": "Aktivieren",
"es": "Habilitar",
"fr": "Activer",
"pt-PT": "Ativar efeito de paralaxe"
},
"default": false
},


{
"id": "rich-text-chart",
"type": "richtext",
"label": "Primary Text",
"default": "<p>Add your text here</p>"
},
  {
"id": "underband1",
"type": "text",
"label": "Underband 1"
},
    {
"id": "underband2",
"type": "text",
"label": "Underband 2"
},
    {
"id": "underband3",
"type": "text",
"label": "Underband 3"
},
    {
"id": "underband4",
"type": "text",
"label": "Underband 4"
},
    {
"id": "underband5",
"type": "text",
"label": "Underband 5"
},
    {
"id": "underband6",
"type": "text",
"label": "Underband 6"
},
    {
"id": "underband7",
"type": "text",
"label": "Underband 7"
},
{
"id": "row1col1",
"type": "text",
"label": "Row1-Col1"
},
{
"id": "row1col2",
"type": "text",
"label": "Row1-Col2"
},
{
"id": "row1col3",
"type": "text",
"label": "Row1-Col3"
},
{
"id": "row1col4",
"type": "text",
"label": "Row1-Col4"
},
{
"id": "row1col5",
"type": "text",
"label": "Row1-Col5"
},
{
"id": "row2col1",
"type": "text",
"label": "Row2-Col1"
},
{
"id": "row2col2",
"type": "text",
"label": "Row2-Col2"
},
{
"id": "row2col3",
"type": "text",
"label": "Row2-Col3"
},
{
"id": "row2col4",
"type": "text",
"label": "Row2-Col4"
},
{
"id": "row2col5",
"type": "text",
"label": "Row2-Col5"
},
{
"id": "row3col1",
"type": "text",
"label": "Row3-Col1"
},
{
"id": "row3col2",
"type": "text",
"label": "Row3-Col2"
},
{
"id": "row3col3",
"type": "text",
"label": "Row3-Col3"
},
{
"id": "row3col4",
"type": "text",
"label": "Row3-Col4"
},
{
"id": "row3col5",
"type": "text",
"label": "Row3-Col5"
},
{
"id": "row4col1",
"type": "text",
"label": "Row4-Col1"
},
{
"id": "row4col2",
"type": "text",
"label": "Row4-Col2"
},
{
"id": "row4col3",
"type": "text",
"label": "Row4-Col3"
},
{
"id": "row4col4",
"type": "text",
"label": "Row4-Col4"
},
{
"id": "row4col5",
"type": "text",
"label": "Row4-Col5"
},
{
"id": "row5col1",
"type": "text",
"label": "Row5-Col1"
},
{
"id": "row5col2",
"type": "text",
"label": "Row5-Col2"
},
{
"id": "row5col3",
"type": "text",
"label": "Row5-Col3"
},
{
"id": "row5col4",
"type": "text",
"label": "Row5-Col4"
},
{
"id": "row5col5",
"type": "text",
"label": "Row5-Col5"
},
{
"id": "row6col1",
"type": "text",
"label": "Row6-Col1"
},
{
"id": "row6col2",
"type": "text",
"label": "Row6-Col2"
},
{
"id": "row6col3",
"type": "text",
"label": "Row6-Col3"
},
{
"id": "row6col4",
"type": "text",
"label": "Row6-Col4"
},
{
"id": "row6col5",
"type": "text",
"label": "Row6-Col5"
},
{
"id": "row7col1",
"type": "text",
"label": "Row7-Col1"
},
{
"id": "row7col2",
"type": "text",
"label": "Row7-Col2"
},
{
"id": "row7col3",
"type": "text",
"label": "Row7-Col3"
},
{
"id": "row7col4",
"type": "text",
"label": "Row7-Col4"
},
{
"id": "row7col5",
"type": "text",
"label": "Row7-Col5"
},
{
"type": "header",
"content": {
"en": "Biker Shorts Sizing Guide"
}
},
{
"id": "biker-row1col1",
"type": "text",
"label": "Biker Row1-Col1"
},
{
"id": "biker-row1col2",
"type": "text",
"label": "Biker Row1-Col2"
},
{
"id": "biker-row1col3",
"type": "text",
"label": "Biker Row1-Col3"
},
{
"id": "biker-row2col1",
"type": "text",
"label": "Biker Row2-Col1"
},
{
"id": "biker-row2col2",
"type": "text",
"label": "Biker Row2-Col2"
},
{
"id": "biker-row2col3",
"type": "text",
"label": "Biker Row2-Col3"
},
{
"id": "biker-row3col1",
"type": "text",
"label": "Biker Row3-Col1"
},
{
"id": "biker-row3col2",
"type": "text",
"label": "Biker Row3-Col2"
},
{
"id": "biker-row3col3",
"type": "text",
"label": "Biker Row3-Col3"
},
{
"id": "biker-row4col1",
"type": "text",
"label": "Biker Row4-Col1"
},
{
"id": "biker-row4col2",
"type": "text",
"label": "Biker Row4-Col2"
},
{
"id": "biker-row4col3",
"type": "text",
"label": "Biker Row4-Col3"
},
{
"id": "biker-row5col1",
"type": "text",
"label": "Biker Row5-Col1"
},
{
"id": "biker-row5col2",
"type": "text",
"label": "Biker Row5-Col2"
},
{
"id": "biker-row5col3",
"type": "text",
"label": "Biker Row5-Col3"
},
{
"id": "biker-row6col1",
"type": "text",
"label": "Biker Row6-Col1"
},
{
"id": "biker-row6col2",
"type": "text",
"label": "Biker Row6-Col2"
},
{
"id": "biker-row6col3",
"type": "text",
"label": "Biker Row6-Col3"
},
{
"id": "biker-row7col1",
"type": "text",
"label": "Biker Row7-Col1"
},
{
"id": "biker-row7col2",
"type": "text",
"label": "Biker Row7-Col2"
},
{
"id": "biker-row7col3",
"type": "text",
"label": "Biker Row7-Col3"
},
{
"id": "biker-row8col1",
"type": "text",
"label": "Biker Row8-Col1"
},
{
"id": "biker-row8col2",
"type": "text",
"label": "Biker Row8-Col2"
},
{
"id": "biker-row8col3",
"type": "text",
"label": "Biker Row8-Col3"
},
{
"type": "header",
"content": {
"en": "0,1,& 2 Sizing Guide"
}
},
  {
"id": "crew-title",
"type": "text",
"label": "Section Heading"
},
{
"id": "crew-row1col1",
"type": "text",
"label": "Crew Row1-Col1"
},
{
"id": "crew-row1col2",
"type": "text",
"label": "Crew Row1-Col2"
},
{
"id": "crew-row1col3",
"type": "text",
"label": "Crew Row1-Col3"
},
{
"id": "crew-row2col1",
"type": "text",
"label": "Crew Row2-Col1"
},
{
"id": "crew-row2col2",
"type": "text",
"label": "Crew Row2-Col2"
},
{
"id": "crew-row2col3",
"type": "text",
"label": "Crew Row2-Col3"
},
{
"id": "crew-row3col1",
"type": "text",
"label": "Crew Row3-Col1"
},
{
"id": "crew-row3col2",
"type": "text",
"label": "Crew Row3-Col2"
},
{
"id": "crew-row3col3",
"type": "text",
"label": "Crew Row3-Col3"
},
  {
"id": "crew-subtext",
"type": "text",
"label": "Subtext"
}


],
"blocks": [
{
"type": "text",
"name": {
"en": "Title",
"de": "Titel",
"es": "Título",
"fr": "Titre",
"pt-PT": "Título"
},
"settings": [
{
"type": "text",
"id": "title",
"label": {
"en": "Title",
"de": "Titel",
"es": "Título",
"fr": "Titre",
"pt-PT": "Título"
},
"default": {
"en": "Title",
"de": "Titel",
"es": "Título",
"fr": "Titre",
"pt-PT": "Título"
}
}
]
},
{
"type": "richtext",
"name": {
"en": "Text",
"de": "Text",
"es": "Texto",
"fr": "Texte",
"pt-PT": "Texto"
},
"settings": [
{
"type": "richtext",
"id": "text",
"label": {
"en": "Text",
"de": "Text",
"es": "Texto",
"fr": "Texte",
"pt-PT": "Texto"
},
"default": {
"en": "<p>Add any additional content you want across your stores content pages</p>",
"de": "<p>Fügen Sie alle zusätzlichen Inhalte hinzu, die Sie auf den Inhaltsseiten Ihrer Shops haben möchten</p>",
"es": "<p>Añada cualquier contenido adicional que desee en todas las páginas de su tienda</p>",
"fr": "<p>Ajouter tout contenu supplémentaire que vous désirez dans toutes les pages de contenu de vos magasins</p>",
"pt-PT": "<p>Adicione os conteúdos adicionais que quiser nas páginas de conteúdo das suas lojas</p>"
}
}
]
},
{
"type": "menu",
"name": {
"en": "Menu",
"de": "Menü",
"es": "Menú",
"fr": "Menu",
"pt-PT": "Menu"
},
"settings": [
{
"type": "link_list",
"id": "menu",
"label": {
"en": "Menu",
"de": "Menü",
"es": "Menú",
"fr": "Menu",
"pt-PT": "Menu"
}
}
]
},
{
"type": "image_picker",
"name": {
"en": "Image",
"de": "Bild",
"es": "Imagen",
"fr": "Image",
"pt-PT": "Imagem"
},
"settings": [
{
"type": "image_picker",
"id": "sidebar_image",
"label": {
"en": "Image",
"de": "Bild",
"es": "Imagen",
"fr": "Image",
"pt-PT": "Imagem"
}
},
{
"type": "text",
"id": "image_title",
"label": {
"en": "Image title",
"de": "Bildtitel",
"es": "Título de la imagen",
"fr": "Titre de l'image",
"pt-PT": "Título da imagem"
},
"placeholder": {
"en": "Title",
"de": "Titel",
"es": "Título",
"fr": "Titre",
"pt-PT": "Título"
}
},
{
"type": "url",
"id": "image_link",
"label": {
"en": "Image link",
"de": "Bildlink",
"es": "Enlace de la imagen",
"fr": "Lien vers l'image",
"pt-PT": "Link da imagem"
}
}
]
}
]
}


{% endschema %}


<style>
  
  th {
   background: #c3c3c3; 
  }

  .size-modeldiv {
    width: auto;
    text-align: center;
    padding: 15px;
    display: inline-block;
  }

  .inlineTitle {
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 700;
  }

  .inlineBlock {
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
  }
  
  .biker-size-div{
   margin-top:25px;
  }

  /*Desktop styling*/
  @media only screen and (min-width: 479px){
    .flex-control {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .size-modeldiv{
      width:18%; 
    }

  }

</style>