<style>

body{
  color: {{ settings.color_body_text }};
  background-color: {{ section.settings.background-color }};
}

a{
  color: {{ settings.color_body_text }};
}

.password--main{
  background-color: {{ section.settings.content-background-color }};
}

{% if section.settings.background %}
{% render 'responsive-background-image' with section.settings.background, selector: 'body' %}
body{
  background-size: cover;
  background-color: {{ section.settings.background-color }};
  background-position: center;
  background-attachment: fixed
}

html {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
}

.background-overlay{
    background-color: rgba(0, 0, 0, 0.{{ section.settings.image_overlay_opacity }});
    overflow-y: auto;
}
{% endif %}

#site-header {
  background: {{ section.settings.content-background-color }} none repeat scroll 0 0;
}

</style>

<header id="site-header" style="display: none;">
	<div class="site-header--inner">
		{% form 'storefront_password' %}
			{{ form.errors | default_errors }}
			<div class="form-group">
			<label for="password">{{ 'coming_soon.general.password' | t }}</label>
			<div class="input-group">
			<input type="password" name="password" id="password" class="form-control password--input" autofocus />
			<span class="input-group-btn"><input class="btn btn-default" name="commit" type="submit" value="{{ 'coming_soon.general.continue' | t }}" /></span>
			</div>
			</div>
		{% endform %}
		<p class="password--store-owner">{{ 'coming_soon.general.store_owner' | t }} {{ 'coming_soon.general.store_owner_html' | t }}</p>
		<div class="password--close"><a href="#"><img src="{{ 'close.png' | asset_url }}" alt="Close" /></a></div>
	</div>
</header>

<div class="password--wrapper">

	<div class="password--main">

		<div class="password--logo">
      {% if section.settings.logo %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: image_size }}"
          srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
          alt="{{ section.settings.logo.alt | default: shop.name }}"
          itemprop="logo">
      {% else %}
        {{ shop.name | escape }}
      {% endif %}
		</div>

		{% if shop.password_message and shop.password_message != '' %}
			<div class="welcome-message custom-font">
				<h1>{{ shop.password_message }}</h1>
			</div>
		{% else %}
			<div class="welcome-message custom-font">
				<h1>{{ 'coming_soon.general.opening_soon' | t }}</h1>
			</div>
		{% endif %}

    {% if section.settings.newsletter_enable %}

		<div class="password--mailing-list">
			{% form 'customer' %}
				{{ form.errors | default_errors }}
				{% if form.posted_successfully? %}
					<div class="alert alert-success" role="alert">
						{{ 'coming_soon.general.thanks_mailing' | t }}
					</div>
				{% else %}
				<div class="form-group">
          {% if section.settings.newsletter_description != empty %}
            <div class="rte">{{ section.settings.newsletter_description }}</div>
          {% endif %}
					<div class="input-group">
						<input type="hidden" name="contact[tags]" value="prospect, password page">
						<input type="email" name="contact[email]" id="email" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" class="form-control password--input">
						<span class="input-group-btn"><input type="submit" value="{{ 'general.newsletter_form.submit' | t }}" class="btn btn-default"></span>
					</div>
				</div>
				{% endif %}
			{% endform %}
		</div>

    {% endif %}

    {% if section.settings.social_media_icons %}
      {% render 'social-icons' %}
    {% endif %}

		<div id="password--site-owner-options">
			<p><a href="#" id="password-show">{{ 'coming_soon.general.password' | t }}</a></p>
		</div>

		<div id="footer">
			<div id="powered">
				{{ 'coming_soon.general.powered_by_html' | t }}
			</div>
		</div>

	</div>



</div>

{% schema %}
{
    "name": {
        "en": "Content",
        "de": "Inhalt",
        "es": "Contenido",
        "fr": "Contenu",
        "pt-PT": "Conteúdo"
    },
    "settings": [
        {
            "type": "header",
            "content": {
                "en": "Colors",
                "de": "Farben",
                "es": "Colores",
                "fr": "Couleurs",
                "pt-PT": "Cores"
            }
        },
        {
            "type": "color",
            "id": "text-color",
            "label": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            },
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "content-background-color",
            "label": {
                "en": "Content background",
                "de": "Hintergrund Inhalt",
                "es": "Fondo del contenido",
                "fr": "Arrière-plan du contenu",
                "pt-PT": "Fundo do conteúdo"
            },
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "background-color",
            "label": {
                "en": "Page background",
                "fr": "Fond de page",
                "de": "Seitenhintergrund",
                "es": "Fondo de pantalla",
                "pt-PT": "Fundo da página"
            },
            "default": "#ffffff"
        },
        {
            "type": "header",
            "content": {
                "en": "Header",
                "de": "Überschrift",
                "es": "Encabezado",
                "fr": "En-tête",
                "pt-PT": "Cabeçalho"
            }
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": {
                "en": "Logo image",
                "de": "Logobild",
                "es": "Imagen del logotipo",
                "fr": "Image du logo",
                "pt-PT": "Imagem do logótipo"
            }
        },
        {
            "type": "range",
            "id": "logo_max_width",
            "min": 100,
            "max": 400,
            "step": 10,
            "unit": {
                "en": "px",
                "de": "px",
                "es": "px",
                "fr": "px",
                "pt-PT": "px"
            },
            "label": {
                "en": "Logo width",
                "de": "Logobreite",
                "es": "Ancho del logotipo",
                "fr": "Largeur du logo",
                "pt-PT": "Largura do logótipo"
            },
            "default": 200
        },
        {
            "type": "paragraph",
            "content": {
                "en": "[Edit your password page message in your Shopify settings](http://www.shopify.com/admin/online_store/preferences)",
                "de": "[Bearbeiten Sie die Nachricht Ihrer Passwort-Seite in Ihren Shopify-Einstellungen](http://www.shopify.com/admin/online_store/preferences)",
                "es": "[Edite el mensaje de su página de contraseña en sus ajustes de Shopify](http://www.shopify.com/admin/online_store/preferences)",
                "fr": "[Modifiez le message de votre page de mot de passe dans vos paramètres Shopify](http://www.shopify.com/admin/online_store/preferences)",
                "pt-PT": "[Edite a mensagem na página da palavra-passe nas suas definições da Shopify](http://www.shopify.com/admin/online_store/preferences)"
            }
        },
        {
            "type": "checkbox",
            "id": "social_media_icons",
            "label": {
                "en": "Show social media icons",
                "de": "Social-Media-Symbole anzeigen",
                "es": "Mostrar los iconos de redes sociales",
                "fr": "Afficher les icônes des médias sociaux",
                "pt-PT": "Mostrar ícones de redes sociais"
            },
            "default": true,
            "info": {
                "en": "Edit your social settings and accounts in General settings",
                "de": "Bearbeiten Sie Ihre Social-Media-Einstellungen und -Konten in „Allgemeine Einstellungen“",
                "es": "Edite sus ajustes y cuentas de redes sociales en los Ajustes generales",
                "fr": "Modifier vos paramètres sociaux et vos comptes dans « Paramètres généraux »",
                "pt-PT": "Edite as suas definições e contas de redes sociais nas Definições gerais"
            }
        },
        {
            "type": "header",
            "content": {
                "en": "Background image",
                "de": "Hintergrundbild",
                "es": "Imagen de fondo",
                "fr": "Image d'arrière-plan",
                "pt-PT": "Imagem de fundo"
            }
        },
        {
            "type": "image_picker",
            "id": "background",
            "label": {
                "en": "Image",
                "de": "Bild",
                "es": "Imagen",
                "fr": "Image",
                "pt-PT": "Imagem"
            },
            "info": {
                "en": "2000 x 800px recommended",
                "de": "2000 x 800 px empfohlen",
                "es": "Recomendado 2000 x 800 px",
                "fr": "2000 x 800 px recommandé",
                "pt-PT": "2000 x 800px, recomendado"
            }
        },
        {
            "type": "range",
            "id": "image_overlay_opacity",
            "min": 0,
            "max": 95,
            "step": 5,
            "unit": {
                "en": "%",
                "de": "%",
                "es": "%",
                "fr": "%",
                "pt-PT": "%"
            },
            "label": {
                "en": "Overlay opacity",
                "de": "Überlagerungsdeckkraft",
                "es": "Capacidad de sobrexposición",
                "fr": "Opacité de superposition",
                "pt-PT": "Opacidade de sobreposição"
            },
            "default": 60
        },
        {
            "type": "header",
            "content": {
                "en": "Newsletter",
                "de": "Newsletter",
                "es": "Boletín de noticias",
                "fr": "Bulletin d'information",
                "pt-PT": "Newsletter"
            }
        },
        {
            "type": "checkbox",
            "id": "newsletter_enable",
            "label": {
                "en": "Show newsletter signup",
                "de": "Newsletter-Anmeldung anzeigen",
                "es": "Mostar el registro al boletín de noticias",
                "fr": "Afficher l'inscription au bulletin d'information",
                "pt-PT": "Mostrar assinatura de newsletter"
            },
            "default": true
        },
        {
            "type": "richtext",
            "id": "newsletter_description",
            "label": {
                "en": "Description",
                "de": "Beschreibung",
                "es": "Descripción",
                "fr": "Description",
                "pt-PT": "Descrição"
            },
            "default": {
                "en": "<p>Find out when we open</p>",
                "de": "<p>Finden Sie heraus, wann wir öffnen</p>",
                "es": "<p>Descúbrelo cuando abramos</p>",
                "fr": "<p>Découvrez quand nous ouvrons </p>",
                "pt-PT": "<p>Descubra quando abrirmos</p>"
            }
        }
    ]
}
{% endschema %}
